USE [master]
GO
/****** Object:  Database [RegMVC]    Script Date: 4/3/2019 9:42:11 AM ******/
CREATE DATABASE [RegMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RegMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RegMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegMVC]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 4/3/2019 9:42:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmailId] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Gender] [nchar](10) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
	[StateName] [varchar](50) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([ID], [UserEmailId], [Password], [Gender], [CountryName], [StateName], [CityName], [Address]) VALUES (1, N'sowmyaatmp@gmail.com', N'test', N'female    ', N'India', N'Telangana', N'Hyderabad', N'1234 vidya nagar')
INSERT [dbo].[UserProfile] ([ID], [UserEmailId], [Password], [Gender], [CountryName], [StateName], [CityName], [Address]) VALUES (2, N'swetha@gmail.com', N'test', N'female    ', N'India', N'Telangana', N'Hyderabad', N'1234 vidya nagar')
INSERT [dbo].[UserProfile] ([ID], [UserEmailId], [Password], [Gender], [CountryName], [StateName], [CityName], [Address]) VALUES (3, N'nishanth16@gmail.com', N'1i2k', N'Male      ', N'india', N'telangana', N'hyderbaad', N'2211')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
USE [master]
GO
